button {
  color: white;
  border: 1px solid white;
  padding: 15px 30px;
  background: transparent;
  text-transform: uppercase !important;
  font-size: 20px !important;
  letter-spacing: 5px;
  transition: 0.5s ease;
}
