.product-listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin-left: -$pad;
  margin-right: -$pad;
  margin-top: $pad * 2;

  .item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 $pad $pad * 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      display: block;

      &:hover {
        text-decoration: none;
      }
    }

    h4 {
      color: $grey;
      text-transform: capitalize;
    }

    p {
      color: $grey;
      font-weight: bold;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: $pad;
    }
  }
}
